  $toolbar-size:40px;
  @mixin toolbar-item($pos,$hoverPos){
     background-position: -5px $pos;
    &:hover{
      background-position:-5px $hoverPos;
    }
  }
   @mixin transition($transition){
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
  }
.toolbar{
    position: fixed;
    bottom:5px;
    right:5px;
    width: $toolbar-size;
    height:   $toolbar-size;
    cursor: pointer;
    .toolbar-item{
      display: block;
      width: $toolbar-size;
      height:   $toolbar-size;
      background-image:url(../image/toolbar.png);
      background-repeat:no-repeat;
       @include toolbar-item(-680px , -740px);
       @include transition(background-position 0.5s linear)
      }
}