<!DOCTYPE html>
<html>
<head>
  <title>详细图文</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/item/item.css">
  <script type="text/javascript" src="__PUBLIC__/framework/require.js" data-main='__PUBLIC__/js/item/itemapp'></script>
</head>
<body>

<div class="main-item">
    <div class="favorite">
    <?php if($res['collection']){  ?>
    <span class="glyphicon glyphicon-star starspan2" data-id="{$res['content']['good_id']}"></span>
    <div class="floatWord">取消收藏</div>
    <?php }else{ ?>
    <span class="glyphicon glyphicon-star starspan1" data-id="{$res['content']['good_id']}"></span>
    <div class="floatWord">点击收藏</div>
    <?php } ?>
    
    </div>
    
  <h2 class="name">{$res['content']['goodname']}</h2>
  <p class="price text-primary">{$res['content']['goodprice']}
  <span>
    <?php if($res['content']['changeprice']){ ?>
    可议价
  <?php }else{ ?>
  不接受议价<?php } ?>
  </span>
  <span>
      <?php 
      $type = $res['content']['businesstype'];
      if($type==0){ ?>
   转租
  <?php }else if($type == 1){ ?>
  出售<?php }else{ ?>
  可转租可出售
  <?php } ?>
  </span>
  </p>
  <p class="owner text-primary"><span><?php echo substr($res['user']['realname'],0,3) ?></span>同学</p>
  <p class="connect text-primary">联系方式：<span>{$res['user']['phonenum']}</span></p>
  <p class="detail text-primary">{$res['content']['gooddetail']}</p>
<?php
$len = count($res['imgs']);
for($i=1;$i<=$len;$i++){
  ?>
  <p class="imgp"><img src="__PUBLIC__/{$res['imgs'][$i]}"></p>
<?php } ?>
  

</div>

  <!-- 头部信息 -->
 <include file="Apps/Home/index.html"/>
  
  <footer style="text-align: center;font-size: 12px;color:#ccc;margin-top:50px;">2015©租赁买卖网</footer>
</body>
</html>