<!DOCTYPE html>
<html>
<head>
  <title>详细图文</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/item/item.css">
  <script type="text/javascript" src="framework/require.js" data-main='js/item/itemapp'></script>
</head>
<body>
<div class="main-item">
    <div class="favorite"><span class="glyphicon glyphicon-star"></span>
    <div class="floatWord">点击收藏</div></div>
    
  <h2 class="name">牛仔布鞋</h2>
  <p class="price text-primary">¥20<span>可议价</span><span>出售</span></p>
  <p class="owner text-primary"><span>杨</span>同学</p>
  <p class="connect text-primary">联系方式：<span>15682566795</span></p>
  <p class="detail text-primary">2015春秋冬新款韩版淑女中长款大衣小香风修身百搭毛呢裙摆风衣潮</p>

  <p class="imgp"><img src="image/cloth1.jpg"></p>
  <p class="imgp"><img src="image/cloth2.jpg"></p>
  <p class="imgp"><img src="image/cloth1.jpg"></p>
  <p class="imgp"><img src="image/cloth3.jpg"></p>
  <p class="imgp"><img src="image/cloth4.jpg"></p>
  <p class="imgp"><img src="image/cloth5.jpg"></p>
</div>





  <!-- 头部信息 -->
  <header class="header">
    <span class="logo-name">租赁买卖信息网</span>
    <ul class='nav-ul'>
      <li>
        <a href="personal.html" target="_blank">个人中心</a>
      </li>
      <li>
        <a href="#">登录</a>
      </li>
      <li>
        <a href="register.html">注册</a>
      </li>
    </ul>
  </header>
  <footer style="text-align: center;font-size: 12px;color:#ccc;margin-top:50px;">2015©租赁买卖网</footer>
</body>
</html>