body{
  // background:#FAFFFF;
}
  @mixin wordellipsis(){
    text-overflow:ellipsis; 
    white-space:nowrap; 
    overflow:hidden;
  }
.personal{
  margin-top: 40px;
  .nav-tool .tab-content{
    #basicInfo{
      width: 80%;
      margin-top: 20px;
    }
    .isUsed{
      font-size: 12px;
      color: red;
      display: none;
    };
    #myGoods{
      width: 90%;
      margin:20px auto;
    }
    .clearfloat:after{
      display:block;
      clear:both;
      content:"";
      visibility:hidden;
      height:0
    }
     #myCollection{
      width: 90%;
      margin:20px auto;
    }
    #updateGood{
       width: 80%;
       margin-top:20px;
       textarea{
         width: 85%;
         height: 100px;
         resize: none;
       }
       .remain{
        font-size: 12px;
       }
    }
    
  }
  
  .goodlist li{
  list-style: none;
  float: left;
  width: 220px;
  margin-left: 10px;
  small{
    font-size: 12px;
  margin-left: 10px;
  color:#D9534F;
 }
 
}
.goodname{
@include wordellipsis()
}
.gooddetail{
  color:#ccc;
  font-size: 12px;
  @include wordellipsis()
}
.goodpicsmall{
  width: 220px;
  height: 185px;
  display: inline-block
}

.loadnext{
  clear: both;
  margin:10px auto;
  width: 100%;
  height: 20px;
  background:#eee;
  // border-radius: 10px;
  text-align: center;
  cursor:pointer;
  display: none;
  font-family:"微软雅黑","黑体","宋体";
}
}

.loading{
  z-index: 10;
  position: fixed;
  // border-radius: 10px;
  display: none;
  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.3;
  }
}

